.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;      
  height: 45px;     
  background-color: rgb(214, 120, 32);
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 5px; 
}

.container:hover {
  background-color: lightgray;
}

.selected { 
  background-color: bisque;
}
